<div class="login-page" [@routerTransition]>
    <div class="row justify-content-md-center">
        <div class="col-md-4">
            <img src="assets/images/logo.png" width="150px" class="user-avatar" />
            <h1>SB Admin BS4 Angular5</h1>
            <form role="form">
                <div class="form-content">
                    <div class="form-group">
                        <input #userName type="text"  class="form-control input-underline input-lg" id="usrn" placeholder="Email">
                    </div>

                    <div class="form-group">
                        <input #pssw type="password"  class="form-control input-underline input-lg" id="passw" placeholder="Password">
                    </div>
                </div>
                <a class="btn rounded-btn"  (click)="onLoggedin(userName.value,pssw.value)"> Ingresar </a>
                &nbsp;
                <a class="btn rounded-btn" [routerLink]="['/signup']">Registrarse</a>
            </form>
        </div>
    </div>
</div>
<!-- [routerLink]="['/dashboard']" -->