<!-- <h2>{{ legajo.name | uppercase}} Details</h2> -->
<h2>Legajos</h2>
<!-- <ul class="legajos">
  <li *ngFor="let legajo of legajos">
    <div><span>id: </span>{{legajo.id}}</div>
    <div><span>name: </span>{{legajo.name}}</div>
    <div><span>tipo: </span>{{legajo.type}}</div>

  </li>
</ul> -->
<!-- <app-legajo-search></app-legajo-search> -->
<h5>buscar:</h5>
<label>Nombre:
    <input type="text" [(ngModel)]="filter.name" placeholder="nombre">
</label>
<label>Id:
    <input type="number" [(ngModel)]="filter.id" placeholder="id">
</label>
<div class="card mb-12">
    <div class="card-header">Legajos</div>
    <table class="card-body table table-hover">
        <thead>
        <tr>
            <th>id</th>
            <th>nombre</th>
            <th>tipo</th>
            <th>Username</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let legajo of legajos | filterPipe : filter" (click)="onSelect(legajo)">
            <th scope="row">{{legajo.id}}</th>
            <td>{{legajo.name}}</td>
            <td>{{legajo.type}}</td>
            <td><a  routerLink="/legajo/legajodetail/{{legajo.id}}">zaraza</a></td>
        </tr>

        </tbody>
    </table>
</div>


<!-- <app-legajo-detalle [legajo]="selectedLegajo"></app-legajo-detalle> -->